* {
  font-size: 20px;
  font-family: 'Lato', sans-serif; }

div.container {
  display: flex;
  justify-content: space-between; }

section.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse; }

section.bar {
  height: 450px;
  width: 1800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: row nowrap; }

section.bar-graph {
  height: 400px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 200ms ease-in;
  transition: .3s;
  max-width: 20%;
  min-width: 10%; }

section.bar-graph:hover {
  transition: .5s;
  max-width: 40%;
  flex-grow: 2;
  cursor: pointer; }

section.key {
  height: 400px;
  width: 230px;
  margin-left: 10px;
  background-color: grey; }

section.pie {
  height: 800px;
  width: 1800;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed; }

section.big {
  height: 600px;
  width: 600px; }
