* {
  font-size: 20px;
  font-family: 'Lato', sans-serif; }

div.container {
  display: flex;
  justify-content: center; }

nav {
  width: auto;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: flex-start; }
  nav div {
    margin-top: -30px;
    margin-bottom: 60px;
    padding: 10px;
    width: 500px;
    height: 200px;
    border: 1px 0.5 black;
    text-align: center; }
    nav div h1 {
      font-family: 'Raleway', sans-serif;
      font-size: 35px;
      color: gray;
      margin-left: -1350px; }

section.main {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  width: auto;
  margin-left: 10px; }

section.bar {
  height: 450px;
  width: 1800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: row nowrap;
  overflow: auto; }

section.bar-graph {
  height: 400px;
  flex: 1 1 200px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 200ms ease-in;
  transition: .3s; }

section.bar-graph:hover {
  transition: .5s;
  flex: 0 0 230px;
  transform: scale(1.1);
  cursor: pointer; }

section.key {
  height: 400px;
  flex: 0 0 230px;
  margin-left: 10px; }

li {
  margin-bottom: 30px;
  list-style-type: disc; }

section.pie {
  height: 800px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed; }

section.big {
  height: 700px;
  width: 700px; }

h1, h2, h3 {
  font-family: 'Lalezar', cursive; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 60px; }

h3 {
  font-size: 40px; }
